<div class="apps">
  {% for post in site.categories.app %}
    <div class="app-container">
        <div class="app-thumb">
            <a class="app-icon-link" href="{{ post.app_store_link }}">
                <img class="app-icon" src="{{ post.icon }}" alt="app icon"/>
            </a>
        </div>
        <div class="app-content">
             <a class="app-description-link" href="{{ post.app_store_link }}">
                 {{ post.content }}
            </a>
        </div>
  	</div>
  {% endfor %}
</div>
