<footer class="site-footer">
  <div class="wrapper">
    {% if site.github_username %}
      <a class="footer-item" href="https://github.com/{{ site.github_username }}">
        <span class="username">GitHub</span>
      </a>
    {% endif %}
    {% for page in site.pages %}
      {% if page.title %}
        <a class="footer-item" href="{{ page.url | prepend: site.baseurl }}index.html">
          <span class="username">{{ page.title }}</span>
        </a>
      {% endif %}
    {% endfor %}
    <a class="footer-item" href="{{ site.url }}/feed.xml">
      <span class="username">RSS</span>
    </a>
  </div>
</footer>
