div.apps {
  padding-top: 3em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.app {
  display: inline-block;
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.app-icon {
//  width: 15em;
//  height: 15em;
}

.app-title {
  font-family: $highlight-font-family;
  text-align: center;
  color: #000;
}

.app-icon-link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}