div.apps {
}

.app {
  display: inline-block;
  margin-right: 1.5em;
}

.app-title {
  font-family: Orbitron;
  text-align: center;
}

.app-icon {
  border-radius: 2em;
  width: 15em;
  height: 15em;
}
