.app-container {
    margin: 20px 20px 0 0;
    overflow: auto;
}

.app-content {
    margin-left: 210px;

    @include media-query($on-palm) {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        text-align: center;
    }
}

.app-title {
    font-weight: bold;
    font-size: 200%
}

.app-thumb img {
    float: left;
    @include media-query($on-palm) {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    display: block;
    max-width: 180px;
    max-height: 180px;
}

.app-description-link:link {
    text-decoration: none;
    color: $text-color;
}

.app-description-link:visited {
    text-decoration: none;
    color: $text-color;
}

.app-description-link:hover {
    text-decoration: none;
    color: $text-color;
}

.app-description-link:active {
    text-decoration: none;
    color: $text-color;
}
