<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        
        <link href='http://fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>

        <!-- Custom CSS -->
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">

        <!-- Custom JS -->
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container-narrow">
          <div class="masthead">
             <ul class="nav nav-pills pull-right">
              <li><a href="/">Home</a></li>
              <li><a href="https://github.com/nerdishbynature">GitHub</a></li>
              <li><a href="/imprint">Imprint</a></li>
            </ul>
            <h3 class="muted nbn-styled">nerdish by nature</h3>
          </div>
          <hr/>
          <div class="jumbotron">
            <h1 class="nbn-styled">iOS and backend development</h1>
          </div>
          <hr/>

          <div class="row-fluid marketing">
            <div class="span12">
              {{ content }}
            </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; nerdish by nature 2013</p>
      </div>

        </div> <!-- /container -->

    </body>
</html>
